/* You can add global styles to this file, and also import other style files */
h1 {
    color: rgb(3, 169, 244);
    font-family: 'Homemade Apple', sans-serif;
    text-align: center;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin-left: 8px;
}
